html, body {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.traffic-light {
    width: 160px;
    height: 400px;
    border: black 3px solid;
    border-radius: 32px;
    background: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.indicator {
    width: 100px;
    height: 100px;
    border: black 3px solid;
    border-radius: 50px;
}

.last-command {
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 0.5em;
    text-align: center;
}